@{
    ViewBag.Title = "User Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>

@ViewBag.ResultMessage

<div class="spacerBody">
    <h2>User index</h2>
    @foreach (string s in Model)
    {
        <p>
            @s
            @if (s != "Administrator")
            {
                <span onclick=" return confirm('Are you sure you want to lock?') ">
                    <a href="/User/UserLock?UserName=@s" class="delLink">Lock</a>
                </span>
                <span> | </span>
                <span onclick=" return confirm('Are you sure you want to unlock?') ">
                    <a href="/User/UserUnlock?UserName=@s" class="delLink">Unlock</a>
                </span>
            }
        </p>
    }
</div>