body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* dropdown datalist css */
ul.nav > li {
    height: 20px;
}

ul.nav > li:hover ul{
    visibility: visible;
}

.custom-dropdown{
    visibility: hidden;       
}

.custom-dropdown {
    width: 200px;
    max-height: 300px;
    background: grey;
    list-style-type: none;
    overflow: auto;
    padding: 0px;
    position: relative;
    top: 0px;
}

.custom-dropdown > li > a:not(.custom-heading) {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: lightgrey;
    padding: 10px;
    margin-left: 15px;
}

.custom-dropdown > li > a:hover:not(.custom-heading) {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-left: 10px;
}

.custom-dropdown > li:hover{
    background: darkgrey;
}

.custom-dropdown > li {
    height: 40px;
    border-bottom: 1px solid lightgrey;
    top: 50px;
}

a.custom-heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: lightgrey;
    padding: 10px;
    margin-left: 0px;
    background: darkgrey;
    border-bottom: 1px solid lightgrey;
}